<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1>Case Maker!</h1>
			<p>Upload your designs and create your own custom phone cases. We have a great case designer tool that you will enjoy.  </p>
				<p>	
					<% if !user_signed_in? %>

					<%= link_to "Create a new account", new_user_registration_path , class: "btn btn-success"%>
					<%= link_to "Login", new_user_session_path , class: "btn btn-primary"%>
					<a href="#stores" class="btn btn-warning"> Buy</a>
				</p>

				<% else %>
				<p>
					<a href="#stores" class="btn btn-warning"> Buy</a>
					<%= link_to "Edit your store", user_preview_path(current_user.id), class: "btn btn-primary"%>
				</p>
				<% end %>
		</div>
	</div>
</div>
		
<div class="container">
	<div class="row" id="stores">
		<h2 style="text-align:center">See our current sellers</h2>
		<% @users.each do |el|%>
			<div class="col-md-4">
				<div class="col-md-12 col-xs-12">
					<div style="display:flex;justify-content:center;align-items:center;">
						<img class="img-circle centered" style="text-align:center;width:200px;height:200px" src="<%= el.avatar.url(:medium) %>"> 	
					</div>
					
					<br>
					<div class="col-md-12 col-xs-12">
						<p style="text-align:center">
							<%= link_to el.firstname+" "+el.lastname, user_store_url(el.slug), class: "btn btn-success centered" %>
						</p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
